<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Weather App and Testing 1.1</title>
<link rel="stylesheet" href="../public/css/weatherapp.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container bg-warning">
<div class="row">
<div class="col-sm-6">

<h1 id="city">Weather App City</h1>
<h1><a id="temp" href="#" onClick="switchUnits();
return false;" title="Click to switch between Fahrenheit and Celcius"></a></h1>
</div>
<div class="col-sm-6" id="parentnode">
<h1 id="local">Find Weather in Any ZipCode</h1>
<h1 id="weather">Local City</h1>
<h1><a id="localtemp" href="#" onClick="switchUnitsLocal(); return false" title="Click to switch between Fahrenheit and Celcius"></a></h1>
<h2 id="childnode"><input type="text" id="zipweather" name="zip" onkeypress="zipWeatherKey(event)" placeholder="Enter Zipcode"></h2>
<h2><input id="zipsubmit" class="bg-primary" type="submit"  onClick="zipWeather()"></h2>
</div>
</div>
</div>
<div class="well">
<div class="row">
<div class="col-xs-12">
<p><a href="http://openweathermap.org">OpenWeatherMap API</a></p>
</div>
</div>
</div>
<script src="../public/js/weatherjquery.js"></script>
</body>
</html>
