#hidethis {
	display: none;
}

.dropdownimg {
	height: auto;
	width: 20%;
}

.afternav {
	text-align: center;
	font-size: 1.5rem;
}

.chart div {
  font: 100% sans-serif;
  background-color: blue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

nav a:hover {
	color: #999;
}

.jumbo-message {
	text-align: center;
}

.status-message {
	text-align: center;
}
